:root{
    /*FONTE*/
    --font--dm--sans: "DM Sans", sans-serif;
    /* colors*/

    /* Colors */
  --text-base-dark: #136377;
  --text-base-light: #fff;
  --text-base-punk: #d8bc66;
  --text-base-cyber: #136377;
  --text-sub: #a7a7a7;


    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07)
}